<div id="question<%question.id%>" class="display-block medium-heigh full-width round-corners div-shadow">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="votes-" class="display-inline-block float-left text-center padding-small">
       <span class="badge"><%= (question.votes.length) %></span>
        <p>votes</p>
      </div>
      <div id="answers-" class="display-inline-block float-left text-center padding-small">
        <span class="badge"><%= question.answers.length %></span>
        <p>answers</p>
      </div>
      <div id="views-" class="display-inline-block float-left text-center padding-small">
        <span class="badge"><%= rand(1..50) %></span>
        <p>views</p>
      </div>
      <h3 class="question-title"><a href="/questions/<%= question.id%>" class="padding-left-medium"><%= question.title %></a></h3>
    </div>
  </div>

</div>


