<div class="question">
  <h2><%= @question.title %></h2>
  <% user_id = @question.user_id %>
  <% user = User.find(user_id) %>
  <p class="username"><%= user.username %></p>

  <p><%= @question.body%></p>

  <form id='question_vote_up' class="up_vote" action="/questions/<%=@question.id%>/votes/new" method='post'>
    <button class="upvote">Up Vote</button>
    <input type="hidden" name='up' value="true">
  </form>

    <p><%= @question.votes.count %></p>

    <form id='question_vote_down' class="down_vote" action="/questions/<%=@question.id%>/votes/new" method='post'>
    <button class='downvote'>Down vote</button>
    <input type="hidden" name='up' value="false">
  </form>

  <div class='comments'>
    <% @question.comments.each do |comment|%>
    <% user_id = comment.user_id %>
    <% user = User.find(user_id) %>
    <p><%= comment.body %></p>
    <p class="username"><%= user.username %></p>
    <%end%>
  </div>
</div>


  <h3 id="answer_count"><%= @question.answers.count %> Answers</h3>

<div class='answer'>
  <% @question.answers.each do |answer|%>
  <% user_id = answer.user_id %>
  <% user = User.find(user_id) %>
  <p><%= answer.body %></p>
  <p class="username"><%= user.username %></p>

  <form id='answer_vote_up' class="up_vote" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/votes/new" method='post'>
    <button class="upvote">Up Vote</button>
    <input type="hidden" name='up' value="true">
  </form>
    <p><%=answer.votes.count %></p>
  <form id='answer_vote_down' class='down_vote' action="/questions/<%=@question.id%>/answers/<%=answer.id%>/votes/new" method='post'>
    <button class='downvote'>Down vote</button>
    <input type="hidden" name='up' value="false">
  </form>

  <div class='comments'>
    <% answer.comments.each do |comment|%>
    <% user_id = comment.user_id %>
    <% user = User.find(user_id) %>
    <p><%= comment.body %></p>
    <p class="username"><%= user.email %></p>
    <%end%>
  </div>
  <%end%>

</div>

